@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --black-main: #262626;
  --white-main: #f8f8f8;
}

html{
  background-color: var(--white-main);
  font-family: 'Lato', sans-serif;

}

body{
  max-width: 1200px;
  margin:auto;
}

/* Introduction section */

.intro{
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.intro-photo{
  display: flex;
  justify-content: center;
}

.meet-jed{
  position: absolute;
  color: var(--white-main);
  text-shadow: 2px 2px 5px var(--black-main);

}

.jed-pose{
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.intro-text{
  font-size: 20px;
  padding: 12px;
}

.socials{
  display: flex;
  gap: 10px;
}

.icon{
  width: 40px;
  height: auto;
}

:hover.icon{
  transform: scale(1.1, 1.1);
}

/* Projects section */

.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.tile{
  border: 5px solid var(--black-main);
  border-radius: 10px;
  width: 300px;
  height: 325px;

  display: flex;
  flex-direction: column;
}

.tile > img{
  border-radius: 5px;
}

.tile-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tile-header > h2{
  font-size: 20px;
}

.tile-icons{
  display: flex;
  gap: 10px;
}

.icon-tile{
  width: 25px;
  height: auto;
}

:hover.icon-tile{
  transform: scale(1.1, 1.1);
}

.tile > p{
  padding: 10px;
  margin: 0;
}

/* Contact section */

.contact{
  border: 3px solid red;
}
